$primary-color: #3F3250
$base: #C0B3A0
$complementary: #22252C
$highlights: #E14658

h1
  color: $primary-color

body
  background-color: $base
  color: $complementary

%navbar-style
    background-color: $complementary
    color: $base

.navbar
  @extend %navbar-style
.navbar-brand
  @extend %navbar-style
  font-weight: bold

.navbar-toggler
  border: 1px solid $highlights

.navbar-toggler-icon
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
