$primary-color: #3F3250
$base: #C0B3A0
$complementary: #22252C
$highlights: #E14658


body
  background-color: $base
  color: $complementary

%navbar-style
    background-color: $complementary
    color: $base
    font-weight: bold
    font-family: 'Oswald', sans-serif

.navbar
  @extend %navbar-style
  border-bottom: 10px solid $highlights
  font-size: 1.5em

.navbar a
  @extend %navbar-style
  text-decoration: none


.navbar a:hover
  color: $highlights

.navbar-brand
  @extend %navbar-style
  color: $highlights !important
  font-size: 1.75em

.navbar-toggler
  border: 2px solid $highlights

.navbar-toggler-icon
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 70, 88, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")

.btn-outline-success,
.btn-outline-success:focus
  color: $highlights
  border-color: $highlights
  font-weight: bold
  box-shadow: none !important

.btn-outline-success:hover, .btn-outline-success:not(:disabled):not(.disabled):active
  color: $base
  background-color: $highlights
  border-color: $highlights
  font-weight: bold


.form-control:focus
  border-color: $highlights
  box-shadow: 0 0 0 .2rem rgba(225,70,88,.25)
